@font-face {
    font-family: "logo";
    src: url(/Norse-Bold.otf);
}

body{
    margin: 0;
}

span{
    font-family: "logo";
    color: white;
    font-size: 5em;
    opacity: 1;
}

img{
    height: 10vh;
    width: 7vw;
}

.wallpaper{
    background-image: url(/photo-1585202900225-6d3ac20a6962.avif);
    height: 100vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    padding-top: 27vh;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    height: 20vh;
    width: 40vw;
    position:absolute;
    top: 140px;
    opacity: 0.5;
    
}